#card{
  &::before{
    width: 700px;
    height: 700px;
    background: radial-gradient(#0f0, transparent, transparent);
    transform: translate(-50%, -50%);
    transition: 0.5s, top 0s, left 0s;
    pointer-events: none; /* Ensures it doesn't block interactions */
  }

  &::after{
    z-index: 10;
    content: '';
    position: absolute;
    inset: 2px;
    background: rgba(45,45,45,.75);
    border-radius: 18px;
    pointer-events: none; /* Ensures it doesn't block interactions */
  }
}