#card::before{
  width: 700px;
  height: 700px;
  background: radial-gradient(#0f0, transparent, transparent);
  transform: translate(-50%, -50%);
  transition: 0.5s, top 0s, left 0s;
  pointer-events: none; /* Ensures it doesn't block interactions */
}

#card::after{
  z-index: 10;
  content: '';
  position: absolute;
  inset: 2px;
  background: rgba(45,45,45,.75);
  border-radius: 18px;
  pointer-events: none; /* Ensures it doesn't block interactions */
}


.logo-preview {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 100%;
  
}

.company-details {
  position: relative;
  bottom: 20px;
  color: black;
  /* margin: 20px; */
  z-index: 1800;
  padding: 10px;
  background-color: gold;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  opacity: 1;
}

