#card-login::before {
  width: 700px;
  height: 700px;
  background: radial-gradient(orange, transparent, transparent);
  transform: translate(-50%, -50%);
  transition: 0.5s, top 0s, left 0s;
  pointer-events: none; /* Ensures it doesn't block interactions */
}

#card-login::after {
  z-index: 10;
  content: "";
  position: absolute;
  inset: 2px;
  background: rgba(45, 45, 45, 0.75);
  border-radius: 18px;
  pointer-events: none; /* Ensures it doesn't block interactions */
}

#card-signup::before {
  width: 700px;
  height: 700px;
  background: radial-gradient(red, transparent, transparent);
  transform: translate(-50%, -50%);
  transition: 0.5s, top 0s, left 0s;
  pointer-events: none; /* Ensures it doesn't block interactions */
}

#card-signup::after {
  z-index: 10;
  content: "";
  position: absolute;
  inset: 2px;
  background: rgba(45, 45, 45, 0.75);
  border-radius: 18px;
  pointer-events: none; /* Ensures it doesn't block interactions */
}
